
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    body {
        background-image: url("/Content/img/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--footer-height);
        color: white;
        font-weight: 700;
        /* background-image: linear-gradient(70deg, black 0%, cyan 100%); */
    }
</style>
<html>
<head>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-image:src()">
    <div class="m-5">
        <div class="row" style=" justify-content: center; display: flex; align-items: center;text-align:center;">
            <div class="col-md-3 mb-5" style=" justify-content: center; display: flex; align-items: center;">
                <div class="card" style="width: 18rem; ">
                    <img src="~/Content/img/demo1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Demo 1</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mobil Uyumlu</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">İletişim formlu</li>
                    </ul>
                    <div class="card-body">
                        <a href="/Home/Demo1" class="card-link">Demo Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" style=" justify-content: center; display: flex; align-items: center;">
                <div class="card" style="width: 18rem; ">
                    <img src="~/Content/img/demo2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Demo 2</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mobil Uyumlu</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">İletişim formlu</li>
                    </ul>
                    <div class="card-body">
                        <a href="/Home/Demo2" class="card-link">Demo Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" style=" justify-content: center; display: flex; align-items: center;">
                <div class="card" style="width: 18rem; ">
                    <img src="~/Content/img/demo3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Demo 3</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mobil Uyumlu</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">İletişim formlu</li>
                    </ul>
                    <div class="card-body">
                        <a href="/Home/Demo3" class="card-link">Demo Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" style=" justify-content: center; display: flex; align-items: center;">
                <div class="card" style="width: 18rem; ">
                    <img src="~/Content/img/demo4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Demo 4</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mobil Uyumlu</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">İletişim formlu</li>
                    </ul>
                    <div class="card-body">
                        <a href="/Home/Demo4" class="card-link">Demo Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" style=" justify-content: center; display: flex; align-items: center;">
                <div class="card" style="width: 18rem; ">
                    <img src="~/Content/img/demo5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Demo 5</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mobil Uyumlu</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">İletişim formlu</li>
                    </ul>
                    <div class="card-body">
                        <a href="/Home/Demo5" class="card-link">Demo Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" style=" justify-content: center; display: flex; align-items: center;">
                <div class="card" style="width: 18rem; ">
                    <img src="~/Content/img/demo6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Demo 6</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Mobil Uyumlu</li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">İletişim formlu</li>
                    </ul>
                    <div class="card-body">
                        <a href="/Home/Demo6" class="card-link">Demo Link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5" style=" justify-content: center; display: flex; align-items: center;">
                <div class="card" style="width: 18rem; ">
                    <img src="~/Content/img/demo7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Demo 7</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">İletişim formlu</li>
                    </ul>
                    <div class="card-body">
                        <a href="/Home/Demo7" class="card-link">Demo Link</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="/Content/img/line.png" width="100%" />
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://www.instagram.com/furkanlapcin" style="text-decoration: none; color: white">
                        instagram.com/furkanlapcin
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://bionluk.com/furkanlapcin" style="text-decoration:none; color:white">
                        bionluk.com/furkanlapcin
                    </a>
                </div>
            </div>


        </footer>
    </div>

</body>
</html>
